*.xlsx
*.xls
*.ini

CodeAndData/*.txt
CodeAndData/*.sql
CodeAndData/tabs2sql/*.txt
CodeAndData/tabs2sql/*.sql
CodeAndData/*/*/data*.xml
CodeAndData/*/*/courses*.xml

*.gz
*.log
*.aux
*.bbl
*.blg
*.out
*.tmp
*.pdf
